* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", 
  sans-serif;
  font-size: 20px;
  color: #444444;
  display: flex;
  flex-direction: column; 
  margin: 0px;
  max-width: 100vw;
}

nav, footer {
  background-color: black;
  color: white;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
  background-color:black; 
}


ul {
  list-style: none;
  padding-left: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-weight: bolder;
}

h3 {
  line-height: 1.4;
  font-weight: normal;
  font-size: 16px;
}

.app1, .app2 {
  display: flex;
  flex-direction: column;
}

.about-me, .app2 {
  min-height: 100vh;
}
.about-me {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  align-items: center;
}

.app1 {
  color: white;
  background-color: black;
  min-height: 100vh;
  max-width: 100vw;
}

.app1-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
}

header {
  padding: 12% 0;
  background-color: black;
  color: white;
  text-align: center;
}

section {
  text-align: center;
  min-height: 200px;
  flex-grow: 1;
  padding: 6% 0;
  background-color: #bbbbbb;
}

footer {
  height: 100px;
}

@media only screen and (max-width: 600px) {
  * {
    max-width: 100vw;
  }

  h1 {
    max-width: 80%;
    text-align: center;
  }
  .big-nav {
    display: none;
  }
  h1 {
    padding-top: 0px;
  }
  nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    background-color:black; 
    width: 100vw;
  
  }

  .small-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  i.fa {
    justify-self: flex-end;
    padding: 10px 10px 0px 0px;
    font-size: 35px;
    visibility: visible;
    cursor: pointer;
  }
  ul.small-nav {
    list-style: none;
    padding-left: 0;
    display:flex;
    flex-direction: row;
    max-width: 90%;
    font-size: 16px;
  }

  a.small-nav-items {
    justify-self: center;
    padding-right: 15px;
  }

  .dropdown-visible {
    display: none;
  }
  a.small-nav-items {
    color: white;
    text-decoration: none;
  }

  a#hamburger {
    color: white;
  }

}


@media only screen and (min-width: 601px) {
  i.fa, .small-nav {
    display: none;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: white;
    background-color:black;  
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  li.nav-items {
    padding-left: 15px;
    padding-right: 20px;
  }

}